body{
  text-align: center;
}
h1 {
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  color: red
}

h3 {
  background-color:#ebfc00;
  font-weight:bold;
}

a {
  background-color: rgb(65, 243, 33);
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.5s ease;
}
